{
  "local": {
    "url": "http://localhost:9962",
    "username": "YOUR USERNAME HERE",
    "password": "YOUR PASSWORD HERE"
  }
  "fabric": {
    "url": "https://YOUR_CLUSER_URL_HERE.harperfabric.com",
    "username": "YOUR USERNAME HERE",
    "password": "YOUR PASSWORD HERE"
  }
}
